tab
{
    margin-left:50px;
}

h1
{
    text-align: center;
    font-family: write,default;
    font-style:italic;
}

h2
{
    margin:auto;
    text-align:center;
    font-family: scripty,cursive,fantasy,default !important;
    border: 1px solid black;
    font-style:italic;
    width:30%;
    font-size:22px;
    border-top:none;
    border-radius:0 0 15px 15px;
    background-color: rgb(255,200,0);
    cursor: url("Arrow.CUR") 4 12,default;
}

h2:hover
{
    background-color: rgba(200,0,0,0.5);
}

body
{
    background-color:rgba(30,30,100,0.7);
}


year_value
{
    text-decoration: underline;
}

p
{
   margin-top:0px;
   margin-left:10px;
}
