#competence
{
    width: 60%;
    margin:auto;
    margin-bottom:0.5cm;
}



#loisir
{
    width: 40%;
    margin: auto;
    margin-top:2cm;
    margin-bottom:1cm;

}

#detail2
{
    margin-top:2.5cm;
}

#resume
{
    background-color: rgb(100,84,72);
    border: 3px solid black;
    height: 3.5cm;
    float:right;
    border-radius:0 25px 25px 0;
    font-family:scripty,default;
    overflow: hidden;
    color:peachpuff;
}

#resume.a
{
    color:peachpuff;
    text-decoration:none;
}

#titre
{
    margin-right:0px;
    margin-left:0px;
    border:3px solid black;
    margin-top: 0px;
    height: 3.5cm;
    background-color: rgba(255,218,185,0.7);
    border-radius:25px 0 0 25px;
}

#experience
{
    width:45%;
    float:right;
    margin-right:5%;
    clear: both;
}

#formation
{
    width:40%;
    margin-left:5%;
}

#det_1
{
    color:black;
    font-style: italic;
    font-family: scripty,default;
    border: 1px solid black;
    border-radius: 25px;
    padding:0 0.5cm;
    background-color: lightgrey;
}

#det_2
{
    color:black;
    text-decoration: underline;
    font-family: scripty,default;
}

#det_3
{
    color: black;
    font-weight:bold;
    letter-spacing: 0.1cm;
}

#hobbie
{
    font-family: scripty,default;
}
